$fontFamily: "PingFangTC-Regular", "Heiti TC", "Noto Sans TC", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;

* {
	padding: 0;
	margin: 0;
	font-family: $fontFamily;
}
// 防止ios double tap螢幕放大
html,
body {
	touch-action: manipulation;
	touch-callout: none;
	-webkit-touch-callout: none;
}
@supports (-webkit-touch-callout: none) {
	body {
		/* The hack for Safari */
		height: -webkit-fill-available;
	}
}
a {
	display: inline-block;
	&:focus-visible {
		outline: none;
	}
}
[v-cloak] {
	display: none;
}
.clearfix {
	overflow: hidden;
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-wrap {
	background-color: #fff;
	padding: 1rem;
}
.text-box {
	padding: 1rem;
	background-color: #eee;
	color: #000;
}
.text-code {
	color: #000;
	position: fixed;
	top: 0;
	left: 0;
}
