$text1: #404040;
$bg1: rgba(#ffffff, 0.9);
$btnBg1: #3c3c3c;
$btnText1: #fff;

$text2: #fff;
$bg2: rgba(#555555, 0.9);
$btnBg2: #fff;
$btnText2: #000;

$fixedText1: #000;
$fixedBg1: rgba(#fff, 0.6);
$fixedHoverBg1: rgba(#858585, 0.6);
$fixedHoverText1: #fff;

$fixedText2: #fff;
$fixedBg2: rgba(#474747, 0.6);
$fixedHoverBg2: rgba(#fff, 0.6);
$fixedHoverText2: #000;
.grayscale {
}
