$text1: #404040;
$bg1: rgba(#ffffff, 0.9);
$btnBg1: #72bd5a;
$btnText1: #fff;

$text2: #fff;
$bg2: rgba(#72bd5a, 0.9);
$btnBg2: #fff;
$btnText2: #000;

$fixedText1: #000;
$fixedBg1: rgba(#fff, 0.6);
$fixedHoverBg1: rgba(#6fe569, 0.6);
$fixedHoverText1: #fff;

$fixedText2: #fff;
$fixedBg2: rgba(#4fa23c, 0.6);
$fixedHoverBg2: rgba(#fff, 0.6);
$fixedHoverText2: #000;

.green {
}
