$text1: #404040;
$bg1: rgba(#ffffff, 0.9);
$btnBg1: #d09c5b;
$btnText1: #fff;

$text2: #fff;
$bg2: rgba(#9d7c55, 0.9);
$btnBg2: #fff;
$btnText2: #000;

$fixedText1: #000;
$fixedBg1: rgba(#fff, 0.6);
$fixedHoverBg1: rgba(#ffc077, 0.6);
$fixedHoverText1: #fff;

$fixedText2: #fff;
$fixedBg2: rgba(#a67d4c, 0.6);
$fixedHoverBg2: rgba(#fff, 0.6);
$fixedHoverText2: #000;
.yellow {
}
