.btn {
	width: 185px;
	height: 43px;
	font-size: 18px;
	color: #000;
	text-decoration: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin: 0 auto;
	background-color: #ff9c00;
	@include hover {
		background-color: lighten($color: #ff9c00, $amount: 10%);
	}
	&.disabled {
		background-color: #b4b4b4;
		cursor: default;
	}
	& + .btn {
		margin-left: 12px;
	}
	&__reset {
		background-color: #b4b4b4;
	}
}
