.g-ckedit {
	width: 100%;
	word-break: break-all;
	.ck-content {
		height: auto;
		ol,
		ul {
			padding-left: 40px;
		}
		.image-inline img {
			display: block;
			height: auto;
			margin: 0 auto;
			max-width: 100%;
			min-width: 100%;
		}
	}
	&.warning {
		.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
		.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
			border-color: red;
		}
		.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
			border-color: red;
		}
	}
}
.ck-body-wrapper {
	z-index: 10000;
	position: relative;
}
