.radio {
	&-group {
		display: flex;
		align-items: center;
		margin-right: 6px;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
		}
		&__control {
			display: none;
			&:checked {
				& + .radio-group__style {
					&:before {
						content: "";
						background-color: #ebac50;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
			&:disabled {
				& + .radio-group__style {
					color: gray;
					cursor: default;
				}
				& + .radio-group__style + .radio-group__label {
					color: gray;
					cursor: default;
				}
			}
		}
		&__style {
			width: 16px;
			height: 16px;
			background-color: #fff;
			border-radius: 50%;
			border: 1px solid #5b5b5b;
			position: relative;
			margin: 0 6px;
		}
		&__label {
			// margin-left: 6px;
		}
	}
}
