.select {
	&-group {
		display: flex;
		font-size: 18px;
		align-items: center;
		&.warning {
			select {
				border: 1px solid red;
			}
		}
		&__warning {
			color: red;
		}
		&__label {
			color: #fff;
			margin-right: 12px;
			flex-shrink: 0;
			position: relative;
			&.required {
				&:before {
					content: "*";
					position: absolute;
					top: 4px;
					left: -12px;
					color: red;
				}
			}
		}
		&__control {
			border: none;
			background: transparent;
			outline: none;
			color: #fff;
			min-width: 120px;
			border: 1px solid #888888;
			border-radius: 6px;
			option {
				background: transparent;
				outline: none;
				border: none;
				color: #93928a;
			}
		}
		& + .select-group {
			margin-left: 12px;
		}
	}
}
