.g-swiper {
	position: relative;
	.swiper-slide-active > .g-swiper__a {
		@include media {
			transform: scale(1);
		}
	}
	.swiper {
		@include media {
			width: calc(2034 / 768 * 100vw);
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			overflow: hidden;
		}
	}
	&__a {
		width: 100%;
		position: relative;
		text-align: center;
		font-size: 0;
		margin: 0 auto;
		@include media {
			width: 100%;
			height: 100%;
			transform: scale(0.95);
			transition: all 0.3s;
		}
	}
	&__img {
		width: 100%;
		display: inline-block;
	}
	.swiper-pagination {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		@include media {
			margin-top: vw(20);
		}
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: #858585;
		display: inline-block;
		margin-right: 20px;
		cursor: pointer;
		@include media {
			width: vw(10);
			height: vw(10);
			margin-right: vw(20);
		}
		&:last-child {
			margin-right: 0;
		}
		&.swiper-pagination-bullet-active {
			background-color: #ff9c00;
		}
	}
}
