.event-list {
	&__container {
		width: calc(100% - 24px);
	}
	&__null {
		text-align: center;
		color: #fff;
	}
	&__filter {
		width: 540px;
		margin: 22px auto 32px;
		position: relative;
		padding: 20px 54px;
		border-right: 1px solid #5b5b5b;
		border-left: 1px solid #5b5b5b;
		&:before {
			content: "";
			width: 100%;
			height: 1px;
			background-image: linear-gradient(90deg, rgba(91, 91, 91, 1) 0%, rgba(91, 91, 91, 1) 5%, rgba(91, 91, 91, 0) 5%, rgba(91, 91, 91, 0) 95%, rgba(91, 91, 91, 1) 95%, rgba(91, 91, 91, 1) 100%);
			position: absolute;
			top: 0;
			left: 0;
		}
		&:after {
			content: "";
			width: 100%;
			height: 1px;
			background-image: linear-gradient(90deg, rgba(91, 91, 91, 1) 0%, rgba(91, 91, 91, 1) 5%, rgba(91, 91, 91, 0) 5%, rgba(91, 91, 91, 0) 95%, rgba(91, 91, 91, 1) 95%, rgba(91, 91, 91, 1) 100%);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__col {
		position: relative;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		font-size: 24px;
		&:last-child {
			margin-bottom: 0;
		}
		.input-group__label,
		.select-group__label {
			font-size: 24px;
		}
	}
	&__label {
		color: #fff;
		flex-shrink: 0;
		margin-right: 12px;
	}
	&__input {
		& + .event-list__input {
			margin-left: 12px;
		}
	}
	&__content {
		width: 100%;
		border-right: 1px solid #5b5b5b;
		border-left: 1px solid #5b5b5b;
		padding: 20px;
		position: relative;
		box-sizing: border-box;
		&:before {
			content: "";
			width: 100%;
			height: 1px;
			background-image: linear-gradient(90deg, rgba(91, 91, 91, 1) 0%, rgba(91, 91, 91, 1) 5%, rgba(91, 91, 91, 0) 5%, rgba(91, 91, 91, 0) 95%, rgba(91, 91, 91, 1) 95%, rgba(91, 91, 91, 1) 100%);
			position: absolute;
			top: 0;
			left: 0;
		}
		&:after {
			content: "";
			width: 100%;
			height: 1px;
			background-image: linear-gradient(90deg, rgba(91, 91, 91, 1) 0%, rgba(91, 91, 91, 1) 5%, rgba(91, 91, 91, 0) 5%, rgba(91, 91, 91, 0) 95%, rgba(91, 91, 91, 1) 95%, rgba(91, 91, 91, 1) 100%);
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__head {
		display: grid;
		grid-template-columns: 240px 200px 1fr 420px;
		border-bottom: 4px solid #585858;
		font-size: 24px;
	}
	&__title {
		position: relative;
		// text-align: center;
		padding: 18px 0;
		a {
			color: #fff;
			text-decoration: none;
			position: relative;
			cursor: default;
			font-weight: bold;
			&.arrow {
				cursor: pointer;
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 4px 0 4px;
					border-color: #fff transparent transparent transparent;
					position: absolute;
					top: 50%;
					right: -24px;
					transform: translateY(-50%);
				}
				&.on {
					color: #ffe000;
					&:before {
						border-width: 0 4px 8px 4px;
						border-color: transparent transparent #ffe000 transparent;
					}
				}
			}
		}
	}
	&__body {
	}
	&__box {
		display: grid;
		grid-template-columns: 240px 200px 1fr 420px;
		// align-items: flex-start;
		// text-align: center;
		color: #fff;
		font-size: 22px;
		// margin-bottom: 20px;
		align-items: center;
		padding: 12px 0;
		border-bottom: 1px solid #585858;
		&:last-child {
			border-bottom: 0;
		}
		@include hover {
			background-color: rgba(#ddd, 0.1);
		}
	}
	&__item {
		padding: 0 4px;
		&.end {
			color: #cd372b;
		}
		& > a {
			color: #fff;
			cursor: default;
			text-decoration: none;
			word-break: break-all;
			&[target="_blank"] {
				cursor: pointer;
				text-decoration: underline;
			}
		}
	}
	&__date {
		&-online {
			color: red;
		}
		&-end {
			color: #5b5b5b;
		}
	}
	&__status {
		&-item {
			display: flex;
			// justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 6px;
			&:first-child {
				margin-bottom: 6px;
			}
			& > a {
				padding: 0 6px;
			}
			&[data-status="編輯中"] {
				color: #fff;
			}
			&[data-status="審核通過"] {
				color: #fff;
			}
			&[data-status="審核中"] {
				color: #fff;
			}
		}
	}
	&__btn {
		color: #fff;
		padding: 6px 8px !important;
		background-color: #ff9c00;
		text-decoration: none;
		display: inline-block;
		font-size: 18px;
		border-radius: 6px;
		// & + .event-list__btn {
		// 	margin-left: 6px;
		// }
		&-edit {
			background-color: #0d6efd;
		}
		&-content {
			background-color: #10a765;
		}
		&-approve {
			background-color: #cd372b;
		}
		&-approved {
			background-color: #ff9c00;
			color: #000;
		}
		&-preview {
			background-color: #ffc107;
			color: rgb(31, 31, 31);
		}
		&-off {
			border-radius: 100vmax;
			background-color: #ff9c00;
			font-size: 16px;
			padding: 4px 18px !important;
			display: inline-block;
			color: #000;
			text-decoration: none;
		}
	}
}
.approve-list__container {
	.event-list__head {
		grid-template-columns: 240px 400px 1fr 180px;
	}
	.event-list__box {
		grid-template-columns: 240px 400px 1fr 180px;
	}
	.event-list__status {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
