body {
	position: relative;
	width: 100%;
	min-width: 1200px;
	@include media {
		min-width: auto;
	}
}
#app {
	position: relative;
	width: 100%;
}
.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 76px;
	padding-bottom: 76px;
}
.page {
	&-title {
		font-size: 26px;
		color: #d0cbcb;
		padding: 12px 0;
		min-width: 295px;
		margin: 0 auto;
		text-align: center;
		border-bottom: 1px solid #5b5b5b;
		display: inline-block;
		&--style {
			color: #ff9c00;
		}
	}
	&-pagination {
		&__box {
			display: flex;
			align-items: center;
			color: #5b5b5b;
			margin: 0 auto;
			font-size: 26px;
		}
		&__current {
			color: #5a9ae5;
		}
		&__number {
			margin: 0 12px;
			display: flex;
		}
	}
}

.icon {
	width: 26px;
	height: 25px;
	background-size: cover;
	font-size: 0;
	text-decoration: none;
	&-question {
		width: 18px;
		height: 18px;
		background-image: url("./img/icon-question.png");
	}
	&-open {
		width: 29px;
		height: 30px;
		background-image: url("./img/icon-open.png");
	}
	&-close {
		width: 24px;
		height: 24px;
		background-image: url("./img/icon-close.png");
	}
	&-edit {
		background-image: url("./img/icon-edit.png");
	}
	&-add {
		background-image: url("./img/icon-add.png");
	}
	&-remove {
		background-image: url("./img/icon-remove.png");
	}
	&-up {
		background-image: url("./img/icon-up.png");
		&.disabled {
			background-image: url("./img/icon-up-disabled.png");
		}
	}
	&-down {
		background-image: url("./img/icon-down.png");
		&.disabled {
			background-image: url("./img/icon-down-disabled.png");
		}
	}
}
