body {
	position: relative;
	width: 100%;
	min-width: 1200px;
	@include media {
		min-width: auto;
	}
}
.ov-hidden {
	overflow: hidden;
}
.v-hidden {
	visibility: hidden;
}
.text-center {
	text-align: center;
}
#app {
	position: relative;
	width: 100%;
	background-color: #3b3b3b;
}
.container {
	width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 76px;
	padding-bottom: 76px;
	box-sizing: border-box;
	@include media {
	}
}
.page {
	&-title {
		font-size: 32px;
		color: #d0cbcb;
		padding: 12px 0;
		min-width: 295px;
		margin: 0 auto;
		text-align: center;
		border-bottom: 1px solid #5b5b5b;
		display: inline-block;
		&--style {
			color: #ff9c00;
		}
	}
}
.pagination {
	&__box {
		display: flex;
		align-items: center;
		color: #93928a;
		margin: 0 auto;
		font-size: 26px;
	}
	&__page {
		margin: 0 12px;
		display: flex;
		.on {
			color: #5a9ae5;
		}
	}
}
.icon {
	width: 26px;
	height: 25px;
	background-size: cover;
	font-size: 0;
	text-decoration: none;
	vertical-align: top;
	&-question {
		width: 18px;
		height: 18px;
		background-image: url("./img/icon-question.png");
	}
	&-open {
		width: 29px;
		height: 30px;
		background-image: url("./img/icon-open.png");
	}
	&-close {
		width: 24px;
		height: 24px;
		// background-image: url("./img/icon-close.png");
		font-size: 0;
		&:before {
			content: "";
			width: 1px;
			height: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #fff;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			content: "";
			width: 1px;
			height: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: #fff;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&-edit {
		background-image: url("./img/icon-edit.png");
	}
	&-add {
		background-image: url("./img/icon-add.png");
	}
	&-remove {
		background-image: url("./img/icon-remove.png");
	}
	&-up {
		background-image: url("./img/icon-up.png");
		&.disabled {
			background-image: url("./img/icon-up-disabled.png");
		}
	}
	&-down {
		background-image: url("./img/icon-down.png");
		&.disabled {
			background-image: url("./img/icon-down-disabled.png");
		}
	}
}
