.wrap {
	background-position: center 0;
	background-image: var(--pc);
	background-color: var(--color);
	background-size: calc(var(--w) * 1px) calc(var(--h) * 1px);
	width: 100%;
	min-height: 100vh;
	position: relative;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	@include media {
		background-image: url(var(--mb));
		background-size: calc(var(--mw) / 768 * 100vw) calc(var(--mw) / 768 * 100vw);
	}
	div:last-child {
		margin-bottom: 0;
	}
}

.page {
	&-control {
		&__group {
			position: absolute;
			bottom: 30px;
			right: 30px;
			display: flex;
		}
		&__btn {
			font-size: 18px;
			text-decoration: none;
			display: inline-block;
			margin-right: 15px;
			color: #000;
			border-radius: 12px;
			background-color: #ff9c00;
			width: 66px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
