body {
	background-color: #333333;
}
#app.edit {
	#cookieBarWrap {
		display: none;
	}
}
// #app.preview {
// 	#cookieBarWrap {
// 		display: block;
// 	}
// }
.wrap {
	background-position: center 0;
	background-image: var(--pc);
	background-color: var(--color);
	background-size: calc(var(--w) * 1px) calc(var(--h) * 1px);
	width: 100%;
	min-height: 100vh;
	position: relative;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	@include media {
		background-image: var(--mobile);
		background-size: calc(var(--mw) / 768 * 100vw) calc(var(--mw) / 768 * 100vw);
	}
	div:last-child {
		margin-bottom: 0;
	}
}
#cookieBarWrap {
	// display: none;
	// &.on {
	// 	display: block;
	// }
}
.page {
	&-preview {
		width: 100%;
		font-size: 25px;
		font-weight: bold;
		color: #333333;
		background-color: rgba(#ff9c00, 1);
		text-align: center;
		padding: 12px 0;
		position: relative;
		z-index: 1;
		@include media {
			font-size: vw(32);
			padding: vw(12) 0;
		}
		& + .wrap {
			.g-modify {
				display: none;
			}
		}
	}
	&-control {
		&__group {
			position: absolute;
			bottom: 30px;
			right: 30px;
			display: flex;
		}
		&__btn {
			font-size: 18px;
			text-decoration: none;
			display: inline-block;
			margin-right: 15px;
			color: #000;
			border-radius: 12px;
			background-color: #ff9c00;
			width: 66px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:last-child {
				margin-right: 0;
			}
		}
		&__back {
			font-size: 18px;
			text-decoration: none;
			color: #000;
			border-radius: 12px;
			background-color: #ff9c00;
			width: 66px;
			height: 66px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 60px;
			right: 0;
			border-radius: 50%;
		}
	}
}
