.wrap {
	background-position: center 0;
	background-image: var(--pc);
	background-color: var(--color);
	background-size: calc(var(--w) * 1px) calc(var(--h) * 1px);
	width: 100%;
	min-height: 100vh;
	position: relative;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	@include media {
		background-image: url(var(--mb));
		background-size: calc(var(--mw) / 768 * 100vw) calc(var(--mw) / 768 * 100vw);
	}
}
