html {
	&[data-type="1"] {
		body {
			display: flex;
			flex-direction: column;
		}
		#app {
			order: 1;
			.wrap {
				padding-bottom: 100px;
				padding-top: 180px;
				&.bg-h,
				&.video-bg-h {
					padding-top: 0;
					padding-bottom: 0;
					@include media {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
				@include media {
					padding-bottom: vw(100);
					padding-top: 0;
				}
			}
		}
		.g-bg {
			position: absolute;
			z-index: 1;
		}
		.UNI-footer {
			order: 2;
		}
		.g-lang {
			order: 3;
		}
	}
	&[data-type="2"] {
		body {
			display: flex;
			flex-direction: column;
		}
		input[name="area"] {
			display: none;
		}
		.g-bg {
			position: absolute;
			z-index: 1;
			&-video {
				width: 100%;
				height: 100%;
				object-fit: cover;
				&.fit {
					width: 100%;
				}
				&.contain {
					width: auto;
					height: auto;
				}
			}
		}
		.wrap {
			@include media {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.dragArea.checkInit {
			padding-bottom: 0;
		}
		.g-area {
			&-container {
				& > .g-modify {
					transform: translateX(-25%);
				}
			}
		}
		.g-slogan {
			&-container {
				max-width: 1200px;
			}
		}
		.g-slide {
			&-container {
				max-width: 1200px;
				@include media {
					width: vw(690);
				}
				.g-swiper .swiper {
					@include media {
						width: vw(690);
					}
				}
			}
		}
		.g-text {
			&-container {
				max-width: 1200px;
				@include media {
					width: vw(690);
				}
			}
			&__content {
				font-size: 20px;
				@include media {
					font-size: vw(30);
				}
			}
			&__box {
				&.collapse {
					max-height: calc(var(--collapse) * 1.5 * 20px);
					@include media {
						max-height: calc(var(--collapse) * 1.5 * vw(30));
					}
				}
			}
		}
		.g-img {
			&-container {
				max-width: 1200px;
				@include media {
					width: vw(690);
				}
			}
			&__box {
				@include media {
					margin-bottom: 0;
				}
			}
		}
		.g-video {
			&-container {
				max-width: 1200px;
				@include media {
					width: vw(690);
				}
			}
			&__box {
				max-width: 1200px;
				.g-yt__box {
					width: 100%;
				}
			}
		}
	}
	&[data-type="3"]{
		--base-unit: 1rem;
		.g-accordion-container,.g-buttons-container,.g-slogan,.g-divider-container,.g-img-container,.g-lang-container,.g-listText-container,.g-tabs-container,.g-text-container,.g-video-container{
			max-width: 768px;
			@include media {
				max-width:vw(768);
			}
		}
		.g-buttons{
			&-container{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				.g-buttons__btn{
					width: 100%;
				}
				&[data-num="1"]{
					grid-template-columns: 1fr;
				}
				&[data-num="2"]{
					grid-template-columns: 1fr 1fr;
				}
				&[data-gap="false"]{
					column-gap:0;
				}
			}
		}
	}
}
