html {
	&[data-type="1"] {
		body {
			display: flex;
			flex-direction: column;
		}
		#app {
			order: 1;
		}
		.g-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			// padding-top: 180px;
			@include media {
				padding-top: vw(180);
			}
		}
		.wrap {
		}
		.g-fixed {
		}
		.g-slogan {
		}
		.g-slide {
		}
		.g-text {
		}
		.UNI-footer {
			order: 2;
		}
		.g-lang {
			order: 3;
		}
	}
	&[data-type="2"] {
		font-size: 768px;
		@include media {
			body: 100vw;
		}
		.wrap {
		}
		.g-fixed {
		}
		.g-slogan {
		}
		.g-slide {
		}
		.g-text {
		}
	}
}
