.edit {
	.g-area {
		border: 1px solid rgba(#ddd, 0.25);
		// padding: 1rem;
	}
}
.g-area {
	min-height: 960px;
	background-position: center 0;
	background-image: var(--area-pc);
	background-color: var(--area-color);
	background-size: calc(var(--area-w) * 1px) calc(var(--area-h) * 1px);
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	&.loading {
		.g-area__box {
			height: 200px;
			background-color: #ddd;
			position: relative;
		}
	}
	@include media {
		min-height: auto;
		background-image: var(--area-mobile);
		background-size: vw(var(--area-mw)) vw(var(--area-mh));
	}
	&.focus {
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			box-shadow: inset 1px 0 0 3px red;
			pointer-events: none;
		}
	}
	&[data-page="main"] {
		min-height: 1080px;
		@include media {
			min-height: auto;
		}
		.g-area-container {
			padding-top: calc(var(--pc-padding-top, 80) * 1px);
			padding-bottom: calc(var(--pc-padding-bottom, 80) * 1px);
			display: flex;
			flex-direction: column;
			.g-dn_img {
				order: 2;
			}
			.g-dn_nav {
				order: 1;
			}
			&--notice {
				position: absolute;
				top: 298px;
				left: 280px;
				width: 544px;
				height: 187px;
				background-image: url("./img/border-top-left.png"), url("./img/border-top-right.png"), url("./img/border-bottom-left.png"), url("./img/border-bottom-right.png"), url("./img/page2-notice.png");
				background-size: 32px 32px, 32px 32px, 32px 32px, 32px 32px, 544px 187px;
				background-repeat: no-repeat;
				background-position: 0 0, right 0, 0 bottom, right bottom, 0 0;
			}
			@include media {
				padding-top: vw(var(--mobile-padding-top, 100));
				padding-bottom: vw(var(--mobile-padding-bottom, 100));
				min-height: auto;
				.g-dn_img {
					order: 1;
				}
				.g-dn_nav {
					order: 2;
				}
			}
		}
	}
	&-container {
		padding-top: calc(var(--pc-padding-top, 80) * 1px);
		padding-bottom: calc(var(--pc-padding-bottom, 80) * 1px);
		@include media {
			padding-top: vw(var(--mobile-padding-top, 100));
			padding-bottom: vw(var(--mobile-padding-bottom, 100));
		}
	}
}
.edit {
	.g-area-container {
		padding-top: 0;
		padding-bottom: 0;
		.list-group {
			padding-top: calc(var(--pc-padding-top, 80) * 1px);
			padding-bottom: calc(var(--pc-padding-bottom, 80) * 1px);
			@include media {
				padding-top: vw(var(--mobile-padding-top, 100));
				padding-bottom: vw(var(--mobile-padding-bottom, 100));
			}
		}
	}
}
