.edit {
	.g-area {
		border: 1px solid rgba(#ddd, 0.25);
		// padding: 1rem;
	}
}
.g-area {
	background-position: center 0;
	background-image: var(--area-pc);
	background-color: var(--area-color);
	background-size: calc(var(--area-w) * 1px) calc(var(--area-h) * 1px);
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	&.loading {
		.g-area__box {
			height: 200px;
			background-color: #ddd;
			position: relative;
		}
	}
	@include media {
		background-image: var(--area-mobile);
		background-size: calc(var(--area-mw) / 768 * 100vw) calc(var(--area-mh) / 768 * 100vw);
	}
	&.focus {
		box-shadow: inset 1px 0 0 3px red;
	}
	&[data-page="main"] {
		.g-area-container {
			padding-top: calc(var(--pc-padding-top, 80) * 1px);
			padding-bottom: calc(var(--pc-padding-bottom, 80) * 1px);
			@include media {
				padding-top: calc(var(--mobile-padding-top, 100) / 768 * 100vw);
				padding-bottom: calc(var(--mobile-padding-bottom, 100) / 768 * 100vw);
				display: flex;
				flex-direction: column;
				.g-dn_img {
					order: 1;
				}
				.g-dn_nav {
					order: 2;
				}
			}
		}
	}
	&-container {
		padding-top: calc(var(--pc-padding-top, 80) * 1px);
		padding-bottom: calc(var(--pc-padding-bottom, 80) * 1px);
		@include media {
			padding-top: calc(var(--mobile-padding-top, 100) / 768 * 100vw);
			padding-bottom: calc(var(--mobile-padding-bottom, 100) / 768 * 100vw);
		}
	}
}
.edit {
	.g-area-container {
		padding-top: 0;
		padding-bottom: 0;
		.list-group {
			padding-top: calc(var(--pc-padding-top, 80) * 1px);
			padding-bottom: calc(var(--pc-padding-bottom, 80) * 1px);
			@include media {
				padding-top: calc(var(--mobile-padding-top, 100) / 768 * 100vw);
				padding-bottom: calc(var(--mobile-padding-bottom, 100) / 768 * 100vw);
			}
		}
	}
}
