.g-buttons {
	position: relative;
	z-index: 1;
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 0) * 1px);
	@include media {
		margin-top: vw(var(--mobile_mt, 0));
		margin-bottom: vw(var(--mobile_mb, 54));
	}
	width: 100%;
	position: relative;
	&-container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		display: flex;
		column-gap: 32px;
		&[data-align="left"] {
			justify-content: flex-start;
		}
		&[data-align="center"] {
			justify-content: center;
		}
		&[data-align="right"] {
			justify-content: flex-end;
		}
		&[data-gap="false"]{
			column-gap:0;
		}
		@include media {
			max-width: vw(678);
			flex-direction: column;
			row-gap: vw(30);
		}
	}
	&__btn {
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		border-radius: 20px;
		padding: 24px;
		background-color: rgba(var(--simple-btn-bg), var(--opacity, 1));
		color: rgb(var(--simple-btn-text));
		width: 311px;
		box-sizing: border-box;
		text-align: center;
		box-shadow: 0 0 6px rgba(var(--simple-btn-text), 0.3);
		transition: all 0.15s;
		word-break: break-all;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		&[data-hover="slide"]{

		}
		&[data-hover="fade"]{

		}
		&[data-changeEffect="true"]{
			&:before{
				content:attr(data-change);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform: translateY(100%);
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		@include hover {
			background-color: rgba(var(--menu-border-color), var(--opacity, 1));
			color: rgb(var(--simple-btn-bg));
		}
		@include media {
			width: 100%;
			font-size: vw(38);
			border-radius: vw(20);
			padding: vw(32);
		}
	}
}
