.g-buttons {
	position: relative;
	z-index: 1;
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 0) * 1px);
	@include media {
		margin-top: calc(var(--mobile_mt, 0) / 768 * 100vw);
		margin-bottom: calc(var(--mobile_mb, 54) / 768 * 100vw);
	}
	width: 100%;
	position: relative;
	&-container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		display: flex;
		&[data-align="left"] {
			justify-content: flex-start;
		}
		&[data-align="center"] {
			justify-content: space-around;
		}
		&[data-align="right"] {
			justify-content: flex-end;
		}
	}
	&__btn {
		text-decoration: none;
	}
}
