.g-dn_nav {
	// margin-top: calc(var(--nav-margin-top, 104) * 1px);
	margin-top: calc(var(--fixed-top, 0) * 1px + var(--nav-margin-top, 104) * 1px);
	margin-bottom: calc(var(--nav-margin-bottom, 0) * 1px) !important;
	position: relative;
	z-index: 2;
	@include media {
		margin-top: calc(var(--nav-m-margin-top, 80) / 768 * 100vw);
		margin-bottom: calc(var(--nav-m-margin-bottom, 0) / 768 * 100vw) !important;
	}
	&-container {
		min-width: 1200px;
		padding-left: 68%;
		box-sizing: border-box;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
		@include media {
			min-width: auto;
			padding-left: 0;
			row-gap: vw(30);
			// margin-top: vw(80);
		}
		.g-modify {
			right: unset;
			transform: translateX(-100%);
		}
	}
	&-item {
		margin-bottom: calc(var(--nav-item-margin-bottom, 0) * 1px);
		position: relative;
		@include media {
			margin-bottom: calc(var(--nav-m-item-margin-bottom, 0) / 768 * 100vw);
		}
		&:last-child {
			margin-bottom: 0;
		}
		&[data-init="true"] {
			width: 723px;
			height: 110px;
			background-image: url("./img/border-top-left.png"), url("./img/border-top-right.png"), url("./img/border-bottom-left.png"), url("./img/border-bottom-right.png"), linear-gradient(45deg, #ffffff 25%, #a1a1a1 25%, #a1a1a1 50%, #ffffff 50%, #ffffff 75%, #a1a1a1 75%, #a1a1a1 100%);
			background-size: 32px 32px, 32px 32px, 32px 32px, 32px 32px, 5px 5px;
			background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
			background-position: 0 0, right 0, 0 bottom, right bottom, 0 0;
		}
		&[data-effect="true"] {
			@include hover {
				.g-dn_nav-item1 {
					opacity: 0;
				}
				.g-dn_nav-item2 {
					opacity: 1;
				}
			}
		}
		&1 {
			display: block;
			background-position: center 0;
			background-image: var(--nav-pc);
			background-size: calc(var(--nav-w) * 1px) calc(var(--nav-h) * 1px);
			background-repeat: no-repeat;
			width: calc(var(--nav-w) * 1px);
			height: calc(var(--nav-h) * 1px);
			position: relative;
			z-index: 1;
			@include media {
				background-image: var(--nav-mobile);
				background-size: calc(var(--nav-mw) / 768 * 100vw) calc(var(--nav-mh) / 768 * 100vw);
				width: calc(var(--nav-mw) / 768 * 100vw);
				height: calc(var(--nav-mh) / 768 * 100vw);
			}
		}
		&2 {
			display: block;
			background-position: center 0;
			background-image: var(--nav-effectImg);
			background-size: calc(var(--nav-effectImg-w) * 1px) calc(var(--nav-effectImg-h) * 1px);
			background-repeat: no-repeat;
			width: calc(var(--nav-effectImg-w) * 1px);
			height: calc(var(--nav-effectImg-h) * 1px);
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			opacity: 0;
			transform: translate(-50%, -50%);
			@include media {
				display: none;
			}
		}
	}
}
