.g-dn_img {
	&-container {
		max-width: 1200px;
		box-sizing: border-box;
		margin: 60px auto 0;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 24px;
		@include media {
			margin: vw(750) auto 0;
			column-gap: vw(24);
			row-gap: vw(24);
			max-width: vw(690);
		}
		&[data-align="left"] {
		}
		&[data-align="center"] {
		}
		&[data-align="right"] {
		}
	}
	&-item {
		background-position: center 0;
		background-image: var(--dn-img-pc);
		background-color: var(--dn-img-color);
		background-size: calc(var(--dn-img-w) * 1px) calc(var(--dn-img-h) * 1px);
		background-repeat: no-repeat;
		width: calc(var(--dn-img-w) * 1px);
		height: calc(var(--dn-img-h) * 1px);
		&:last-child {
			margin-bottom: 0;
		}
		@include media {
			background-image: var(--dn-img-mobile);
			background-size: calc(var(--dn-img-mw) / 768 * 100vw) calc(var(--dn-img-mh) / 768 * 100vw);
			width: calc(var(--dn-img-mw) / 768 * 100vw);
			height: calc(var(--dn-img-mh) / 768 * 100vw);
		}
		&[data-init="true"] {
			width: 282px;
			height: 137px;
			background-color: #c9c9c9;
		}
	}
}
