.g-dn_nav {
	margin-top: calc(var(--nav-margin-top, 104) * 1px);
	@include media {
		margin-top: calc(var(--nav-m-margin-top, 59) / 768 * 100vw);
	}
	&-container {
		min-width: 1200px;
		padding-left: 68%;
		box-sizing: border-box;
		position: relative;
		@include media {
			min-width: auto;
			padding-left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.g-modify {
			right: unset;
			transform: translateX(-100%);
		}
	}
	&-item {
		margin-bottom: calc(var(--nav-item-margin-bottom, 0) * 1px);
		position: relative;
		@include media {
			margin-bottom: calc(var(--nav-m-item-margin-bottom, 0) / 768 * 100vw);
		}
		&:last-child {
			margin-bottom: 0;
		}
		&[data-init="true"] {
			width: 723px;
			height: 110px;
			background-color: #c9c9c9;
		}
		&[data-effect="true"] {
			@include hover {
				.g-dn_nav-item1 {
					opacity: 0;
				}
				.g-dn_nav-item2 {
					opacity: 1;
				}
			}
		}
		&1 {
			display: block;
			background-position: center 0;
			background-image: var(--nav-pc);
			background-size: calc(var(--nav-w) * 1px) calc(var(--nav-h) * 1px);
			background-repeat: no-repeat;
			width: calc(var(--nav-w) * 1px);
			height: calc(var(--nav-h) * 1px);
			position: relative;
			z-index: 1;
			@include media {
				background-image: var(--nav-mobile);
				background-size: calc(var(--nav-mw) / 768 * 100vw) calc(var(--nav-mh) / 768 * 100vw);
				width: calc(var(--nav-mw) / 768 * 100vw);
				height: calc(var(--nav-mh) / 768 * 100vw);
			}
		}
		&2 {
			display: block;
			background-position: center 0;
			background-image: var(--nav-effectImg);
			background-size: calc(var(--nav-effectImg-w) * 1px) calc(var(--nav-effectImg-h) * 1px);
			background-repeat: no-repeat;
			width: calc(var(--nav-effectImg-w) * 1px);
			height: calc(var(--nav-effectImg-h) * 1px);
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			opacity: 0;
			@include media {
				display: none;
			}
		}
	}
}
