.g-edit {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	white-space: nowrap;
	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	&__module {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: transparent !important;
		pointer-events: none;
	}
	&__close {
		position: absolute;
		top: 0;
		right: -40px;
		background-color: var(--btnBg, #ff9c00);
		border-radius: 4px;
		&:before {
			content: "";
			width: 1px;
			height: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: var(--btnText, #fff);
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			content: "";
			width: 1px;
			height: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: var(--btnText, #fff);
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&__wrap {
		position: relative;
		width: 675px;
		margin: 32px auto;
		vertical-align: middle;
		display: inline-block;
	}
	&__content {
		width: 100%;
		background-color: #fff;
		padding: 30px;
		box-sizing: border-box;
		border-radius: 10px;
		white-space: normal;
	}
	&__row {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.input-group__label {
			color: #000;
		}
		.input-group__control {
			color: #000;
		}
		.select-group__label {
			color: #000;
		}
		.select-group__control {
			border: 1px solid #5b5b5b;
			border-radius: 6px;
			color: #000;
		}
	}
	&__group {
		align-self: flex-start;
		margin-right: 6px;
		&:last-child {
			margin-right: 0;
			flex: 1;
		}
		.icon {
			& + .icon {
				margin-left: 6px;
			}
		}
	}
	&__col {
		width: 100%;
		display: flex;
		align-items: flex-start;
		margin-bottom: 12px;
		&.w50 {
			width: 50%;
		}
		.input-group {
			margin-right: 6px;
		}
		.icon {
			flex-shrink: 0;
			margin-right: 6px;
		}
		.edit-radio__box {
			flex-shrink: 0;
			display: flex;
		}
	}
	&__block {
		padding-bottom: 20px;
		border-bottom: 1px solid #979797;
		flex-direction: column;
		align-items: flex-start;
	}
	.hu-color-picker {
		position: absolute;
		top: 50%;
		right: -100%;
		transform: translate(100%, -50%);
	}
	.colors {
		display: none;
	}
}
.edit {
	&-title {
		&__box {
			min-width: 295px;
			border-bottom: 1px solid #5b5b5b;
			margin: 0 auto 28px;
			padding: 12px 0;
			text-align: center;
			display: inline-block;
		}
		&__text {
			font-size: 26px;
			color: #000;
			display: inline-block;
			position: relative;
			&--style {
				color: #ff9c00;
			}
		}
		&__q {
			width: 18px;
			height: 18px;
			background-image: url("./img/icon-question.png");
			position: absolute;
			top: 50%;
			right: -18px;
			transform: translate(100%, -50%);
		}
	}
}
