.g-edit {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	overflow-y: auto;
	background-color: rgba(10, 10, 10, 0.86);
	text-align: center;
	white-space: nowrap;
	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	&__module {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: transparent !important;
		pointer-events: none;
	}
	&__close {
		position: absolute;
		top: 0;
		right: -40px;
		background-color: var(--btnBg, #ff9c00);
		border-radius: 4px;
		&:before {
			content: "";
			width: 1px;
			height: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: var(--btnText, #fff);
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			content: "";
			width: 1px;
			height: 80%;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: var(--btnText, #fff);
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&__wrap {
		position: relative;
		width: 675px;
		margin: 32px auto;
		vertical-align: middle;
		display: inline-block;
	}
	&__content {
		width: 100%;
		background-color: #fff;
		padding: 30px;
		box-sizing: border-box;
		border-radius: 10px;
		white-space: normal;
	}
	&__row {
		margin-bottom: 16px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.input-group__label {
			color: #000;
		}
		.input-group__control {
			color: #000;
		}
		.select-group__label {
			color: #000;
		}
		.select-group__control {
			border: 1px solid #5b5b5b;
			border-radius: 6px;
			color: #000;
		}
	}
	&__group {
		align-self: flex-start;
		&.btn {
			padding-top: 6px;
		}
		&:last-child {
			margin-right: 0;
			flex: 1;
		}
		.icon {
			& + .icon {
				margin-left: 6px;
			}
		}
	}
	&__col {
		width: var(--width, 100%);
		display: flex;
		// align-items: flex-start;
		align-items: center;
		margin-bottom: 16px;
		padding-left: calc(var(--pl, 0) * 1px);
		align-self: flex-start;
		&:last-child {
			margin-bottom: 0;
		}
		&.w50 {
			width: 50%;
		}
		.input-group {
			margin-right: 6px;
		}
		.icon {
			flex-shrink: 0;
		}
		.edit-radio__box {
			flex-shrink: 0;
			display: flex;
		}
		.g-edit__group {
			&:nth-child(1) {
				margin-right: 12px;
				padding-top: 6px;
			}
		}
	}
	&__block {
		// padding-bottom: 20px;
		border-bottom: 1px solid #979797;
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 16px;
	}
	.hu-color-picker {
		position: absolute;
		top: 50%;
		right: -100%;
		transform: translate(100%, -50%);
	}
	.colors {
		display: none;
	}
}
.edit {
	&-title {
		&__box {
			margin: 0 auto 28px;
			padding: 0 0 12px;
			text-align: center;
			display: inline-block;
			position: relative;
			&:before {
				content: "";
				width: 130%;
				height: 1px;
				background-color: #5b5b5b;
				position: absolute;
				bottom: -2px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&__text {
			font-size: 26px;
			color: #000;
			display: inline-block;
			position: relative;
			&--style {
				color: #ff9c00;
			}
		}
		&__q {
			width: 18px;
			height: 18px;
			background-image: url("./img/icon-question.png");
			position: absolute;
			top: 50%;
			right: -18px;
			transform: translate(100%, -50%);
		}
	}
}
.flex-1 {
	flex: 1;
}
.w-auto {
	width: auto;
}

.items-start {
	align-items: flex-start;
}
.shrink-0 {
	flex-shrink: 0;
}
