.g-fixed {
	position: fixed;
	z-index: 11;
	max-width: 240px;
	min-width: 140px;
	background-color: var(--bg, rgba(#474747, 0.9));
	@include media {
		max-width: vw(768);
		width: 100%;
		min-width: unset;
		height: 100dvh;
		display: none;
		background-color: rgba(#000, 0.5) !important;
		&.hamburger-right {
			left: unset !important;
			right: 0 !important;
		}
		&.hamburger-left {
			right: unset !important;
			left: 0 !important;
		}
		&.on {
			display: block;
			z-index: 10000;
			&:before {
				content: "";
				width: 100vw;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.45);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
			}
		}
	}

	&__hamburger {
		width: vw(92);
		height: vw(73);
		background-size: 100%;
		background-image: url("./img/hambuger.png");
		position: absolute;
		top: vw(17);
		display: none;
		z-index: 9;
		&.hamburger-right {
			right: vw(19);
		}
		&.hamburger-left {
			left: vw(19);
		}
		@include media {
			display: block;
		}
	}
	&__close {
		width: vw(70);
		height: vw(70);
		position: absolute;
		top: vw(28);
		left: vw(28);
		display: none;
		z-index: 9999;
		&:before {
			content: "";
			width: vw(8);
			height: 100%;
			border-radius: 100vmax;
			background-color: var(--btnBg, #000);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			content: "";
			width: vw(8);
			height: 100%;
			border-radius: 100vmax;
			background-color: var(--btnBg, #000);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
		@include media {
			display: block;
		}
	}
	&-container {
		@include media {
			padding-top: vw(48);
			flex-direction: column;
			// height: 100vh;
			overflow-y: auto;
			z-index: 2;
			position: relative;
			background-color: var(--bg, rgba(#474747, 0.9));
			// max-height: 100vh;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		background-color: var(--menu-item-border-color, #fff);
		@include media {
			// padding-top: vw(48);
			flex-direction: column !important;
			// height: 100vh;
			overflow-y: auto;
			z-index: 2;
			position: relative;
			background-color: var(--menu-item-text, #fff);
		}
	}
	&__menu {
		font-size: 20px;
		display: block;
		text-decoration: none;
		color: var(--menu-item-text, --text);
		background-color: var(--menu-item-bg, #fff);
		text-align: center;
		word-break: break-all;
		margin-bottom: 1px;
		@include hover {
			background-color: var(--menu-sidebar-bg, --hoverBg);
			color: var(--menu-sidebar-text, --hoverText);
		}
		@include media {
			font-size: vw(42);
			padding: vw(30) vw(16);
			margin-bottom: 1px;
			background-color: var(--bg, #fff);
		}
	}
	&__collapse {
		width: 20px;
		padding: 20px;
		font-size: 20px;
		cursor: pointer;
		text-decoration: none;
		color: var(--menu-sidebar-text, --btnBg);
		background-color: var(--menu-sidebar-bg, #fff);
		@include media {
			display: none;
		}
	}
	&__top {
		font-size: 20px;
		text-decoration: none;
		text-align: center;
		padding: 20px 0;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		color: var(--menu-top, #000) !important;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		&:before {
			content: "";
			border-bottom: 10px solid var(--menu-top, #000);
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 0 solid transparent;
			display: inline-block;
			margin-right: 7px;
		}
		@include media {
			display: none;
		}
	}
	&.top {
		top: 0;
		width: 100%;
		background-color: var(--bg, rgba(#474747, 0.9));
		max-width: 100%;
		min-width: 100%;
		// position: absolute;
		border-bottom: 3px solid var(--menu-border-color, #fff);
		&.fixed {
			position: fixed;
		}
		@include media {
			position: fixed;
			border-bottom: unset;
		}
		.g-fixed {
			&-container {
				max-width: 1000px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
			}
			&__menu {
				padding: 12px 16px;
				background-color: var(--bg, --bg);
				color: var(--menu-item-text, --text);
				margin-right: 1px;
				&:last-child {
					margin-right: 0;
				}
				@include hover {
					background-color: var(--hoverBg, #fff);
					color: var(--menu-item-text, --text);
				}
				@include media {
					padding: vw(30) 0;
					margin-right: 0;
				}
			}
			&__list {
				flex-direction: row;
				background-color: var(--menu-item-border-color, #fff);
			}
		}
		.g-modify {
			top: 6px;
			right: 24px;
		}
	}
	&.bottom {
		bottom: 0;
		width: 100%;
		background-color: var(--bg, rgba(#474747, 0.9));
		max-width: 100%;
		min-width: 100%;
		border-top: 3px solid var(--menu-border-color, #fff);
		@include media {
			bottom: unset;
			border-top: unset;
		}
		.g-fixed {
			&-container {
				max-width: 1000px;
				margin: 0 auto;
				display: flex;
				justify-content: center;
			}
			&__menu {
				padding: 12px 16px;
				background-color: var(--bg, --bg);
				color: var(--menu-item-text, --text);
				margin-right: 1px;
				&:last-child {
					margin-right: 0;
				}
				@include hover {
					background-color: var(--hoverBg, #fff);
					color: var(--menu-item-text, --text);
				}
				@include media {
					padding: vw(30) 0;
					margin-right: 0;
				}
			}
			&__list {
				flex-direction: row;
				background-color: var(--menu-item-border-color, #fff);
				@include media {
					background-color: var(--menu-item-text, #fff);
				}
			}
		}
		.g-modify {
			right: unset;
			left: 6px;
		}
	}
	&.left {
		top: 180px;
		left: 0;
		border-radius: 0 10px 10px 0;
		border: 3px solid var(--menu-border-color, --btnBg);
		transform: translateX(-3px);
		box-shadow: 0 0 20px var(--menu-box-shadow, #000);
		@include media {
			top: 0;
			transform: translateX(0);
			border: unset;
			border-radius: 0;
			box-shadow: unset;
		}
		.g-fixed-container {
			// max-height: calc(100vh - 118px);
			// overflow-y: auto;
			// overflow-x: hidden;
			display: flex;
			flex-direction: row-reverse;
			@include media {
				max-height: 100vh;
				flex-direction: column;
			}
			&::-webkit-scrollbar {
				width: 10px;
				@include media {
					width: vw(10);
				}
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: #f1f1f1;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: #888;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
		}
		&.collapse {
			transition: all 0.3s;
			&[data-collapse="true"] {
				transform: translateX(-3px);
				@include media {
					transform: translateX(0);
				}
			}
			&[data-collapse="false"] {
				transform: translateX(calc(-100% + 60px));
				.g-fixed__collapse {
					&:before {
						transform: scale(1);
					}
				}
			}
			.g-fixed__list {
				border-radius: 0;
			}
		}
		.g-fixed {
			&__menu {
				width: 164px;
				padding: 18px 20px 18px 20px;
				box-sizing: border-box;
				@include media {
					width: 100%;
					padding: vw(30) vw(16);
				}
			}
			&__collapse {
				position: relative;
				border-radius: 0 10px 10px 0;
				&:before {
					content: "";
					width: 21px;
					height: 23px;
					display: block;
					-webkit-mask-image: url("./img/sidebar-icon.svg");
					mask-image: url("./img/sidebar-icon.svg");
					background-color: var(--menu-sidebar-icon, --btnBg);
					margin-bottom: 13px;
					transform: scale(-1);
				}
			}
			&__list {
				overflow: hidden;
				border-radius: 0 10px 10px 0;
			}
		}
		.g-fixed {
			&__menu {
				@include media {
					padding: vw(30) vw(16);
				}
			}
		}
		.g-modify {
			position: absolute;
			top: -12px;
			transform: translateX(100%);
		}
	}
	&.right {
		top: 180px;
		right: 0;
		border-radius: 10px 0 0 10px;
		border: 3px solid var(--menu-border-color, --btnBg);
		transform: translateX(3px);
		box-shadow: 0 0 20px var(--menu-box-shadow, #000);
		@include media {
			top: 0;
			transform: translateX(0);
			border: unset;
			border-radius: 0;
			box-shadow: unset;
		}
		.g-fixed-container {
			// max-height: calc(100vh - 118px);
			// overflow-y: auto;
			// overflow-x: hidden;
			display: flex;

			@include media {
				max-height: 100vh;
			}
		}
		&.collapse {
			transition: all 0.3s;
			&[data-collapse="true"] {
				transform: translateX(3px);
				@include media {
					transform: translateX(0);
				}
			}
			&[data-collapse="false"] {
				transform: translateX(calc(100% - 60px));
				.g-fixed__collapse {
					&:before {
						transform: scale(-1);
					}
				}
			}
			.g-fixed__list {
				border-radius: 0;
			}
		}
		.g-fixed {
			&__menu {
				width: 164px;
				padding: 18px 20px 18px 20px;
				box-sizing: border-box;
				@include media {
					width: 100%;
					padding: vw(42) 0;
					// padding: vw(30) vw(16);
				}
			}
			&__collapse {
				position: relative;
				border-radius: 10px 0 0 10px;
				&:before {
					content: "";
					width: 21px;
					height: 23px;
					display: block;
					-webkit-mask-image: url("./img/sidebar-icon.svg");
					mask-image: url("./img/sidebar-icon.svg");
					background-color: var(--menu-sidebar-icon, --btnBg);
					margin-bottom: 13px;
				}
			}
			&__list {
				overflow: hidden;
				border-radius: 10px 0 0 10px;
			}
		}
		.g-modify {
			position: absolute;
			top: -12px;
			right: unset;
			left: 0;
			transform: translateX(-100%);
		}
	}
	.g-modify {
		position: absolute;
		top: -12px;
		right: 0;
		transform: translateX(-20%);
	}
}
