.g-icon {
	position: absolute;
	top: 24px;
	right: 26px;
	z-index: 2;
	@include media {
		top: vw(32);
		right: vw(29);
	}
	&-container {
		display: flex;
		@include media {
			flex-direction: column;
			align-items: flex-end;
		}
		.g-modify {
			right: unset;
			left: 0;
			transform: translateX(-100%);
		}
	}
	&-item {
		position: relative;
		&[data-init="true"] {
			width: 62px;
			height: 62px;
			background-image: linear-gradient(45deg, #ffffff 25%, #a1a1a1 25%, #a1a1a1 50%, #ffffff 50%, #ffffff 75%, #a1a1a1 75%, #a1a1a1 100%);
			background-size: 5.66px 5.66px;
			border-radius: 100vmax;
		}
		&1 {
			display: block;
			background-position: center 0;
			background-image: var(--icon-pc);
			background-size: calc(var(--icon-w) * 1px) calc(var(--icon-h) * 1px);
			background-repeat: no-repeat;
			width: calc(var(--icon-w) * 1px);
			height: calc(var(--icon-h) * 1px);
			position: relative;
			z-index: 1;
			@include media {
				background-image: var(--icon-mobile);
				background-size: calc(var(--icon-mw) / 768 * 100vw) calc(var(--icon-mh) / 768 * 100vw);
				width: calc(var(--icon-mw) / 768 * 100vw);
				height: calc(var(--icon-mh) / 768 * 100vw);
			}
		}
	}
	&-item + .g-icon-item {
		margin-left: 16px;
		@include media {
			margin-left: 0;
			margin-top: vw(20);
		}
	}
}
