.g-img {
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 0) * 1px);
	position: relative;
	z-index: 1;
	&.loading {
		.g-img__box {
			height: 200px;
			background-color: #ddd;
			position: relative;
		}
	}
	@include media {
		margin-top: calc(var(--mobile_mt, 0) / 768 * 100vw);
		margin-bottom: calc(var(--mobile_mb, 54) / 768 * 100vw);
	}
	&-container {
		width: 100%;
		max-width: 1000px;
		position: relative;
		margin: 0 auto;
		font-size: 0;
		display: grid;
		grid-gap: 12px;
		place-items: center;
		place-content: center;
		&[data-num="1"] {
			grid-template-columns: repeat(1, minmax(1px, max-content));
		}
		&[data-num="2"] {
			grid-template-columns: repeat(2, minmax(1px, max-content));
		}
		&[data-num="3"] {
			grid-template-columns: repeat(3, minmax(1px, max-content));
		}
		&[data-num="4"] {
			grid-template-columns: repeat(4, minmax(1px, max-content));
		}
		@include media {
			max-width: 100%;
			width: vw(678);
			grid-column-gap: vw(10);
			grid-template-columns: repeat(1, 1fr) !important;
		}
	}
	&__box {
		width: 100%;
		display: inline-block;
		position: relative;
		&.none {
			cursor: default;
		}
		&.edit {
			@include hover {
				.g-img__img {
					opacity: 1;
				}
			}
		}
		@include media {
			margin-bottom: vw(20);
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			display: block;
			max-width: 100%;
			position: relative;
			margin: 0 auto;
		}
	}
	&__img {
		position: relative;
		z-index: 1;
		transition: all 0.3s;
		&-box {
			position: relative;
			&.effectImg {
				@include hover {
					.g-img__img {
						opacity: 0;
					}
					.g-img__effectImg {
						opacity: 1;
					}
				}
			}
		}
	}
	&__effectImg {
		position: absolute !important;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
		opacity: 0;
		transition: all 0.3s;
		width: 100%;
	}
	&__card {
		&-body {
			border: 1px solid #000;
			padding: 12px;
			text-align: left;
			background-color: #fff;
		}
		&-title {
			font-weight: bold;
			font-size: 28px;
			text-decoration: none;
			color: #6e6e6e;
		}
		&-text {
			font-size: 16px;
		}
		&-link {
			text-align: center;
			color: red;
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
			width: 100%;
			border-top: 1px solid #000;
			padding: 12px 0 0px;
			margin-top: 12px;
		}
	}
}
