.g-listText {
	position: relative;
	z-index: 1;
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 0) * 1px);
	@include media {
		margin-top: calc(var(--mobile_mt, 0) / 768 * 100vw);
		margin-bottom: calc(var(--mobile_mb, 54) / 768 * 100vw);
	}
	width: 100%;
	position: relative;
	&-container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		background-color: var(--bg, #000);
		padding: 10px;
		box-sizing: border-box;
		&:before {
			content: "";
			width: 100%;
			height: calc(100% + 20px);
			background-color: var(--bg, #000);
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 0;
			transform: translateY(-50%);
			opacity: 0.4;
			@include media {
				height: calc(100% + (40 / 768 * 100vw));
			}
		}
		@include media {
			max-width: vw(678);
			padding-left: vw(25);
			padding-right: vw(25);
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	&-content {
		position: relative;
		z-index: 1;
		display: grid;
		&[data-num="1"] {
			grid-template-columns: 1fr;
		}
		&[data-num="2"] {
			grid-template-columns: repeat(2, 1fr);
		}
		&[data-num="3"] {
			grid-template-columns: repeat(3, 1fr);
		}
		&[data-num="4"] {
			grid-template-columns: repeat(4, 1fr);
		}
		@include media {
			grid-template-columns: 1fr !important;
		}
	}
	&-row {
		padding: 20px;
		position: relative;
		display: flex;
		flex-direction: column;
		&[data-align="left"] {
			align-items: flex-start;
		}
		&[data-align="center"] {
			align-items: center;
			@include media {
				align-items: stretch;
				.g-listText__title,
				.g-listText-col {
					text-align: center;
				}
			}
		}
		&[data-icon="true"] {
			.g-listText__title,
			.g-listText-col {
				padding-left: 52px;
				@include media {
					padding-left: vw(104);
				}
			}
		}
		&[data-icon="false"] {
		}
		@include media {
			padding: vw(25);
			padding-top: vw(52);
			padding-bottom: vw(52);
			&:last-child {
				&:before {
					content: none;
				}
			}
			&:before {
				content: "";
				width: vw(678);
				height: vw(2);
				background-color: rgba(0, 0, 0, 0.15);
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			// border-bottom: 2px solid #d9d9d9;
		}
	}
	&__icon {
		width: 40px;
		height: 40px;
		background-size: 100%;
		background-image: var(--icon-url);
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 12px;
		left: 0;
		transform: translateY(-50%);
		@include media {
			top: vw(22);
			width: vw(68);
			height: vw(68);
		}
	}
	&__title {
		font-size: 20px;
		margin-bottom: 20px;
		color: var(--text, #3a3a3a);
		font-weight: bold;
		position: relative;
		word-break: break-all;
		@include media {
			font-size: vw(36);
			margin-bottom: vw(32);
		}
	}
	&-col {
		font-size: 16px;
		margin-bottom: 12px;
		@include media {
			font-size: vw(30);
			margin-bottom: vw(32);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__text {
		color: var(--link, #3a3a3a);
		text-decoration: none;
		word-break: break-all;
		&[href="javascript:;"] {
			cursor: default;
			color: var(--text, #3a3a3a);
		}
	}
}
