.g-logo {
	position: absolute;
	top: 24px;
	left: 26px;
	z-index: 1;
	@include media {
		top: vw(30);
		left: 50%;
		transform: translateX(-50%);
	}
	&-container {
		background-position: center 0;
		background-image: var(--logo-pc);
		background-color: var(--logo-color);
		background-size: calc(var(--logo-w) * 1px) calc(var(--logo-h) * 1px);
		background-repeat: no-repeat;
		width: calc(var(--logo-w) * 1px);
		height: calc(var(--logo-h) * 1px);
		@include media {
			background-image: var(--logo-mobile);
			background-size: calc(var(--logo-mw) / 768 * 100vw) calc(var(--logo-mh) / 768 * 100vw);
			width: calc(var(--logo-w) / 768 * 100vw);
			height: calc(var(--logo-h) / 768 * 100vw);
		}
	}
}
