.g-menu {
	width: 195px;
	position: fixed;
	top: 0;
	right: 0;
	background-image: linear-gradient(to bottom, #606060 65%, rgba(#606060, 0.5));
	transform: translateX(calc(100% - 12px));
	z-index: 99;
	transition: all 0.3s;
	box-sizing: border-box;

	&.open {
		transform: translateX(0);
		.g-menu__open {
			display: none;
		}
	}
	&__wrap {
		padding-left: 24px;
		height: calc(100vh - 52px);
		padding-top: 52px;
		overflow-y: auto;
		position: relative;
		&::-webkit-scrollbar {
			width: 6px;
			background-color: rgba(255, 255, 255, 0.18);
			border-radius: 100vmax;
		}
		&::-webkit-scrollbar-thumb {
			background: #000;
			border-radius: 100vmax;
		}
	}
	&__open {
		position: absolute;
		top: 50%;
		left: -16px;
		transform: translateY(-50%);
		z-index: 99;
	}
	&__close {
		position: absolute;
		top: 12px;
		left: 12px;
		z-index: 99;
		&.icon-close {
			&:before,
			&:after {
				background-color: #fff;
			}
		}
	}
	&__add {
		display: block;
		text-decoration: none;
		color: #fff;
		padding: 15px 24px 15px 0px;
		font-size: 16px;
		@include hover {
			color: #ff9c00;
		}
		&.disabled {
			color: #b7b7b7;
			cursor: default;
		}
	}
}
