.g-modify {
	display: flex;
	align-items: center;
	position: absolute;
	top: 12px;
	right: 12px;
	z-index: 10;
	&-title {
		margin-right: 6px;
		font-size: 20px;
		text-shadow: 0 0 2px #fff;
		text-decoration: none;
		color: #000;
	}
	&-btn {
		&__group {
			display: flex;
			a + a {
				margin-left: 4px;
			}
			& + .g-modify-btn__group {
				margin-left: 16px;
			}
		}
	}
}
