.g-music {
	position: fixed;
	z-index: 9998;
	bottom: calc(var(--bottom, 18) * 1px);
	&.mobileShow {
		@include media {
			display: block;
		}
	}
	@include media {
		display: none;
		&[data-observer="true"] {
			@include media {
				bottom: vw(var(--bottom, 40));
			}
		}
		bottom: vw(20);
	}
	&[data-position="left-bottom"] {
		left: 18px;
		@include media {
			left: 50%;
			transform: translateX(-50%);
		}
		&.g-music--close {
			@include media {
				left: vw(20);
				transform: translateX(0);
			}
		}
		.g-modify {
			top: 0;
			left: 100%;
		}
		.g-music__toggle {
		}
	}
	&[data-position="right-bottom"] {
		right: 18px;
		@include media {
			right: 50%;
			transform: translateX(50%);
		}
		&.g-music--close {
			@include media {
				right: vw(20);
				transform: translateX(0);
			}
		}
		.g-modify {
			top: -38px;
			right: unset;
			left: 0;
		}
		.g-music__toggle {
			transform: scale(-1);
		}
	}
	&-container {
		position: relative;
	}
	&__box {
		max-width: 379px;
		height: 50px;
		border-radius: 100vmax;
		background-color: #000;
		box-shadow: 0 0 10px rgba(#fff, 0.2);
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
		padding-left: 18px;
		padding-right: 18px;
		box-sizing: border-box;
		&.size1 {
			// .g-music__title-box {
			// 	width: 156px;
			// 	@include media {
			// 		width: vw(289);
			// 	}
			// }
		}
		&.size2 {
			max-width: 307px;
			@include media {
				max-width: vw(582);
			}
			// .g-music__title-box {
			// 	width: 224px;
			// 	@include media {
			// 		width: vw(417);
			// 	}
			// }
		}
		@include media {
			max-width: vw(730);
			height: vw(100);
			padding-left: vw(26);
			padding-right: vw(26);
			box-shadow: 0 0 vw(20) rgba(#fff, 0.2);
		}
		&.closed {
			width: 50px;
			padding-left: 0;
			padding-right: 0;
			@include media {
				width: vw(100);
			}
			.g-music__prev {
				display: none;
			}
			.g-music__control {
				display: none;
			}
			.g-music__next {
				display: none;
			}
			.g-music__title-box {
				display: none;
			}
			.g-music__toggle {
				display: none;
			}
			.g-music__anim {
				margin-right: 0;
			}
		}
	}
	&__toggle {
		width: 10px;
		height: 18px;
		background-size: 10px 18px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("./img/music-toggle.png");
		padding: 0 8px;
		flex-shrink: 0;
		@include media {
			width: vw(19);
			height: vw(34);
			padding: 0 vw(24);
			background-size: vw(19) vw(34);
		}
	}
	&__prev {
		width: 16px;
		height: 10px;
		background-size: cover;
		background-image: url("./img/music-prev.png");
		margin-left: 16px;
		flex-shrink: 0;
		@include media {
			width: vw(32);
			height: vw(19);
			margin-left: vw(24);
		}
	}
	&__next {
		width: 16px;
		height: 10px;
		background-size: cover;
		background-image: url("./img/music-next.png");
		margin-right: 20px;
		flex-shrink: 0;
		@include media {
			width: vw(32);
			height: vw(19);
			margin-right: vw(40);
		}
	}
	&__control {
		width: 30px;
		height: 30px;
		background-color: #ff0000;
		border-radius: 100vmax;
		margin-right: 16px;
		margin-left: 16px;
		position: relative;
		box-shadow: 0 0 0px 5px #800000;
		flex-shrink: 0;
		@include media {
			width: vw(63);
			height: vw(63);
			margin-right: vw(33);
			margin-left: vw(33);
			box-shadow: 0 0 0 vw(12) #800000;
		}
		&.paused {
			&:before {
				content: "";
				width: 8px;
				height: 8px;
				background-image: linear-gradient(to right, #fff 0%, #fff 31%, transparent 31%, transparent 69%, #fff 69%, #fff 100%);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include media {
					width: vw(20);
					height: vw(20);
				}
			}
		}
		&.playing {
			&:before {
				content: "";
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 10px solid #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include media {
					border-top: vw(12) solid transparent;
					border-bottom: vw(12) solid transparent;
					border-left: vw(25) solid #fff;
				}
			}
		}
	}
	&__anim {
		width: 15px;
		height: 16px;
		background-size: cover;
		background-image: url("./img/music-anim.png");
		margin-right: 16px;
		flex-shrink: 0;
		&.moving {
			animation: moving 0.5s linear infinite alternate;
		}
		@include media {
			width: vw(33);
			height: vw(35);
			margin-right: vw(32);
		}
	}
	&__title {
		&-box {
			width: 224px;
			// flex: 1;
			position: relative;
			overflow: hidden;
			white-space: nowrap;

			@include media {
				width: rem(730);
			}
		}
		font-size: 14px;
		display: inline-block;
		@include media {
			font-size: vw(30);
		}
		&.marquee {
			// white-space: nowrap;
			// overflow: hidden;
			// animation: marquee 5s linear infinite;
		}
	}
}
@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes moving {
	0% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(-15%);
	}
}
