.g-slogan {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: calc(var(--mt, 250) * 1px);
	margin-bottom: calc(var(--mb, 24) * 1px);

	@include media {
		max-width: vw(690);
		margin: 0 auto;
		margin-top: vw(var(--mobile_mt, 250));
		margin-bottom: vw(var(--mobile_mb, 24));
	}
	&-container {
		background-position: center 0;
		position: relative;
		background-repeat: no-repeat;
		margin: 0 auto;
		display: block;
		// background-image: var(--slogan-pc);
		// background-size: calc(var(--slogan-w) * 1px) calc(var(--slogan-h) * 1px);
		// width: calc(var(--slogan-w, 1000) * 1px);
		// height: calc(var(--slogan-h, 187) * 1px);
		@include media {
			// background-image: var(--slogan-mobile);
			// background-size: calc(var(--slogan-mw) / 768 * 100vw) calc(var(--slogan-mh) / 768 * 100vw);
			// width: calc(var(--slogan-mw, 1000) / 768 * 100vw);
			// height: calc(var(--slogan-mh, 187) / 768 * 100vw);
		}
		&[href="javascript:;"] {
			cursor: default;
			// pointer-events: none;
		}
	}
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
}
