.g-slide {
	margin-bottom: 24px;
	@include media {
		margin-bottom: vw(24);
		overflow: hidden;
	}
	&-container {
		position: relative;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		@include media {
			max-width: 100%;
		}
	}
}
