.g-slide {
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 54) * 1px);
	@include media {
		margin-bottom: vw(54);
		overflow: hidden;
		margin-top: calc(var(--mt, 0) / 768 * 100vw);
		margin-bottom: calc(var(--mb, 54) / 768 * 100vw);
	}
	&-container {
		position: relative;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		@include media {
			max-width: 100%;
		}
	}
	&.loading {
		.g-swiper {
			height: 200px;
			background-color: #ddd;
		}
	}
}
