.g-slogan {
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: calc(var(--mt, 250) * 1px);
	margin-bottom: calc(var(--mb, 24) * 1px);
	@include media {
		max-width: vw(728);
		margin: 0 auto;
		margin-top: calc(var(--mt, 250) / 768 * 100vw);
		margin-bottom: calc(var(--mb, 24) / 768 * 100vw);
	}
	&-container {
		background-position: center 0;
		position: relative;
		background-repeat: no-repeat;
		margin: 0 auto;
		display: block;
		&[href="javascript:;"] {
			cursor: default;
		}
	}
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}
