.g-slide {
	position: relative;
	z-index: 1;
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 0) * 1px);
	&[data-aspect="16/9"] {
		.g-swiper__img-box {
			img {
				// aspect-ratio: 16/9;
				object-fit: cover;
				height: auto;
			}
		}
	}
	&[data-type="slide-card"] {
		.g-swiper .swiper-wrapper {
			align-items: stretch;
		}
		.g-swiper__a {
			display: inline-flex;
			flex-direction: column;
			height: 100%;
		}
		.swiper-slide {
			height: auto;
		}
		.g-swiper__card {
			display: flex;
			flex: 1;
			flex-direction: column;
		}
	}
	@include media {
		margin-bottom: vw(54);
		overflow: hidden;
		margin-top: vw(var(--mobile_mt, 0));
		margin-bottom: vw(var(--mobile_mb, 54));
	}
	&-container {
		position: relative;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		&[data-num="1"] {
			.g-swiper__a {
				width: auto;
			}
		}
		@include media {
			max-width: vw(678);
		}
	}
	&.loading {
		.g-swiper {
			height: 200px;
			background-color: #ddd;
		}
	}
}
.g-slide-card {
	.swiper-wrapper {
		align-items: stretch;
	}
	.g-swiper__img {
		aspect-ratio: 16/9;
		object-fit: cover;
	}
	.swiper-slide {
		height: auto;
	}
	.g-swiper__a {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}
