.g-tabs {
	position: relative;
	z-index: 1;
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 0) * 1px);
	@include media {
		margin-top: vw(var(--mobile_mt, 0));
		margin-bottom: vw(var(--mobile_mb, 54));
	}
	width: 100%;
	position: relative;
	&-container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		@include media {
			max-width: vw(678);
			background-color: var(--mobile-tab-bg);
		}
	}
	&__content {
		// border: 1px solid #000;
		font-size: 0;
		position: relative;
		background-color: rgba(var(--bg, 212, 212, 212), var(--opacity, 1));
	}
	&__tab {
		&-box {
			@include media {
				display: flex;
				background-color: rgba(#000, 0.6);
			}
		}
		&-pop {
			@include media {
				width: vw(80);
				height: vw(80);
				background-size: vw(38) vw(8);
				background-image: url("./img/tab-pop.png");
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			column-gap: 10px;
			row-gap: 10px;
			justify-content: center;
			padding: 0 40px;
			margin-bottom: 20px;
			@include media {
				margin-bottom: 0;
				margin-bottom: vw(10);
				padding: 0;
				row-gap: 0;
				display: inline-block;
				white-space: nowrap;
				overflow-x: auto;
				width: calc(100% - #{vw(80)});
			}
		}
		&-li {
			width: 222px;
			height: 59px;
			font-size: 22px;
			font-weight: bold;
			border-radius: 100vmax;
			background-color: rgba(var(--tab-disabled-bg), 1);
			color: rgba(var(--tab-disabled-text), 1);
			display: flex;
			justify-content: center;
			align-items: center;
			word-break: break-all;
			cursor: pointer;
			@include media {
				width: auto;
				height: vw(80);
				font-size: vw(30);
				border-radius: 0;
				padding: 0 vw(18);
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-right: vw(3);
				color: var(--mobile-tab-text);
				background-color: var(--mobile-tab-bg);
				opacity: 0.6;
				&:last-child {
					margin-right: 0;
				}
			}
			&.active {
				background-color: rgba(var(--menu-sidebar-text), 1);
				color: rgba(var(--btnText), 1);
				opacity: 1;
			}
		}
	}
	&__box {
		&.show {
			position: relative;
			visibility: visible;
			transition-delay: 0.2s;
			opacity: 1;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(var(--tab-height) * 1px);
		visibility: hidden;
		transition: all 0.2s;
		opacity: 0;
		background-color: rgba(var(--bg, 212, 212, 212), var(--opacity, 1));
		padding-top: 25px;
		padding-bottom: 25px;
		box-sizing: border-box;
		&[data-type="video"] {
			height: auto;
			overflow: auto;
			@include media {
				padding-bottom: vw(25);
			}
			.g-tabs__pane {
				overflow: unset;
				max-height: unset;
			}
		}
		&[data-type="img"] {
			.g-img__img-box {
				padding-left: 25px;
				padding-right: 25px;
			}
			// padding-left: 25px;
			// padding-right: 25px;
		}
		@include media {
			height: auto;
			padding-top: vw(25);
			padding-bottom: vw(25);
		}
	}
	&__title {
		display: flex;
		color: rgb(var(--link));
		font-size: 26px;
		font-weight: bold;
		justify-content: center;
		margin-bottom: 25px;
		@include media {
			font-size: vw(36);
			margin-bottom: vw(25);
		}
		&:nth-child(1) {
		}
		&:nth-child(2) {
		}
	}
	&__pane {
		// aspect-ratio: 16/9;
		position: relative;
		// padding-left: 25px;
		// padding-right: 25px;
		max-height: 562px;
		overflow: auto;
		box-sizing: border-box;
		@media screen and (min-width: 768px) {
			&::-webkit-scrollbar {
				width: var(--scroll-width, 16px);
				height: var(--scroll-height, 8px);
				background-color: rgba(var(--scroll-bar-color, 197, 197, 197), 1);
			}
			&::-webkit-scrollbar-thumb {
				background: rgba(var(--scroll-bar-thumb, 122, 122, 122), 1);
				-webkit-box-shadow: inset 0 0 0px 2px rgba(var(--scroll-bar-color, 197, 197, 197), 1);
			}
		}
		@include media {
			// padding-left: vw(25);
			// padding-right: vw(25);
			max-height: unset;
		}
		.g-video__box {
			width: 100%;
			max-width: 100%;
		}
		.g-img__box {
			// padding-left: 25px;
			// padding-right: 25px;
			width: 100%;
			img {
				aspect-ratio: auto;
			}
		}
		.g-text__box {
			font-size: 20px !important;
			word-break: break-all;
			color: rgba(var(--text, 0, 0, 0), 1);
			@include media {
				font-size: vw(30) !important;
			}
			&[data-align="left"] {
				text-align: left;
			}
			&[data-align="center"] {
				text-align: center;
			}
			img {
				max-width: 100%;
				height: auto;
			}
			a {
				color: rgba(var(--link, 0, 0, 0), 1);
			}
			ol,
			ul {
				padding-left: 48px;
				@include media {
					padding-left: vw(64);
				}
			}
			li {
			}
			table {
				border-collapse: collapse;
			}
			table,
			td {
				border: 1px solid rgba(var(--text, 0, 0, 0), 1);
				@include media {
					border-width: vw(1);
				}
			}
			td {
				padding: 4px;
				@include media {
					padding: vw(4);
				}
			}
		}
	}
}
