.g-text {
	margin-bottom: 24px;
	@include media {
		margin-bottom: vw(24);
	}
	&.align-left {
		text-align: left;
	}
	&.align-center {
		text-align: center;
	}
	&-container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		@include media {
			max-width: vw(728);
		}
	}
	&__content {
		padding: 25px;
		background-color: var(--bg, rgba(#474747, 0.6));
		color: var(--text, #fff);
		font-size: 18px;
		@include media {
			font-size: vw(30);
			padding: vw(25);
		}
		& > a {
			color: var(--link, #fff);
		}
	}
}
