:root {
	--ck-color-image-caption-background: hsl(0, 0%, 97%);
	--ck-color-image-caption-text: hsl(0, 0%, 20%);
	--ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
	--ck-color-mention-text: hsl(341, 100%, 30%);
	--ck-color-table-caption-background: hsl(0, 0%, 97%);
	--ck-color-table-caption-text: hsl(0, 0%, 20%);
	--ck-highlight-marker-blue: hsl(201, 97%, 72%);
	--ck-highlight-marker-green: hsl(120, 93%, 68%);
	--ck-highlight-marker-pink: hsl(345, 96%, 73%);
	--ck-highlight-marker-yellow: hsl(60, 97%, 73%);
	--ck-highlight-pen-green: hsl(112, 100%, 27%);
	--ck-highlight-pen-red: hsl(0, 85%, 49%);
	--ck-image-style-spacing: 1.5em;
	--ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
	--ck-todo-list-checkmark-size: 16px;
}
.g-text {
	position: relative;
	z-index: 1;
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 0) * 1px);
	@include media {
		margin-top: vw(var(--mobile_mt, 0));
		margin-bottom: vw(var(--mobile_mb, 54));
	}
	&.left {
		text-align: left;
	}
	&.center {
		text-align: center;
		table {
			margin: 0 auto;
		}
	}
	&-container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		background-color: rgba(var(--bg, 212, 212, 212), var(--opacity, 1));
		@include media {
			max-width: vw(678);
		}
	}
	&__content {
		// background-color: rgba(var(--bg, 212, 212, 212), var(--opacity, 1));
		color: rgba(var(--text, 0, 0, 0), 1);
		font-size: 20px !important;
		word-break: break-all;
		line-height: 1.5;
		position: relative;
		display: flex;
		flex-direction: column;
		.table {
			display: inline-block;
			float: none !important;
		}
		&.collapse {
			// &:before {
			// 	content: "";
			// 	position: absolute;
			// 	bottom: 0;
			// 	left: 0;
			// 	z-index: 1;
			// 	background-image: linear-gradient(to top, rgba(var(--bg, 212, 212, 212), var(--opacity, 1)) 70%, transparent);
			// 	width: 100%;
			// 	height: 160px;
			// 	@include media {
			// 		height: vw(200);
			// 	}
			// }
			.g-text__box {
				--fadeHeight: 160px;
				mask-image: linear-gradient(to bottom, black 0%, black 50%, black calc(100% - var(--fadeHeight)), transparent);
				// mask-image: linear-gradient(to top, transparent, transparent var(--fadeHeight), black var(--fadeHeight)), linear-gradient(to bottom, transparent, transparent var(--fadeHeight), black var(--fadeHeight), black calc(100% - var(--fadeHeight)), transparent);
				@include media {
					--fadeHeight: vw(200);
				}
			}

			.g-text__collapse-btn {
				margin-bottom: 24px;
				border-radius: 10px;
				width: auto;
				@include media {
					margin-bottom: 0;
					padding: vw(21) vw(39);
					margin-top: vw(20);
					margin-bottom: vw(36);
				}
			}
		}
		&[data-type="scrollbar"] {
			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 1;
				background-image: linear-gradient(to top, rgba(var(--bg, 212, 212, 212), var(--opacity, 1)) 60%, transparent);
				width: calc(100% - 16px);
				height: 60px;
				@include media {
					width: 100%;
					height: vw(60);
				}
			}
		}
		&:after {
			content: "";
			clear: both;
			display: table;
		}
		@include media {
			font-size: vw(30) !important;
		}
		.text-big {
			font-size: 36px;
			@include media {
				font-size: vw(48);
			}
		}
		.text-small {
			font-size: 16px;
			@include media {
				font-size: vw(30);
			}
		}
		img {
			max-width: 100%;
			height: auto;
			display: inline-block;
		}
		a {
			color: rgba(var(--link, 0, 0, 0), 1);
		}
		ol,
		ul {
			padding-left: 48px;
			@include media {
				padding-left: vw(64);
			}
		}
		li {
		}
		table {
			border-collapse: collapse;
		}
		table,
		td {
			border: 1px solid rgba(var(--text, 0, 0, 0), 1);
			@include media {
				border-width: vw(1);
			}
		}
		td {
			padding: 4px;
			@include media {
				padding: vw(4);
			}
		}
	}
	&__box {
		transition: max-height 0.6s linear;
		max-height: calc(var(--max-height) * 1px);
		will-change: transform;
		position: relative;
		z-index: 0;
		padding: 25px;
		overflow: hidden;
		@include media {
			padding: vw(25);
		}
		&.collapse {
			position: relative;
			max-height: calc(var(--collapse) * 1.5 * 20px); /* 控制三行高度 */
			overflow: hidden;
			@include media {
				max-height: calc(var(--collapse) * 1.5 * #{vw(30)});
			}
		}
		&.scrollbar {
			position: relative;
			max-height: calc(var(--scrollbar) * 1.5 * 20px); /* 控制三行高度 */
			overflow: auto;
			padding-bottom: 60px;
			@include media {
				max-height: calc(var(--scrollbar) * 1.5 * #{vw(30)});
				padding-bottom: vw(60);
			}
			@media screen and (min-width: 768px) {
				&::-webkit-scrollbar {
					width: var(--scroll-width, 16px);
					height: var(--scroll-height, 8px);
					background-color: var(--scroll-bar-color, #c5c5c5);
				}
				&::-webkit-scrollbar-thumb {
					background: var(--scroll-bar-thumb, #7a7a7a);
					-webkit-box-shadow: inset 0 0 0px 2px var(--scroll-bar-color, #c5c5c5);
				}
			}
		}
	}
	&__collapse-btn {
		text-decoration: none;
		// background-color: var(--btnBg, #fff);
		background-color: rgba(var(--btnBg, 255, 255, 255), 1);
		// color: var(--btnText, #000) !important;
		color: rgba(var(--btnText, 0, 0, 0), 1) !important;
		text-align: center;
		align-self: center;
		padding: 15px 28px;
		position: relative;
		z-index: 1;
		width: 100%;
		box-sizing: border-box;
		@include media {
			width: 100%;
			border-radius: 0;
			padding: vw(24) 0;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.image {
		clear: both;
		display: table;
		margin: 0.9em auto;
		min-width: 50px;
		text-align: center;
		@include media {
			margin: vw(0.9em) auto;
		}
		&.image-inline {
			align-items: flex-start;
			display: inline-flex;
			max-width: 100%;
		}
		&.image-style-side {
			float: right;
			margin-left: var(--ck-image-style-spacing);
			max-width: 50%;
		}
	}
}
