:root {
	--ck-color-image-caption-background: hsl(0, 0%, 97%);
	--ck-color-image-caption-text: hsl(0, 0%, 20%);
	--ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
	--ck-color-mention-text: hsl(341, 100%, 30%);
	--ck-color-table-caption-background: hsl(0, 0%, 97%);
	--ck-color-table-caption-text: hsl(0, 0%, 20%);
	--ck-highlight-marker-blue: hsl(201, 97%, 72%);
	--ck-highlight-marker-green: hsl(120, 93%, 68%);
	--ck-highlight-marker-pink: hsl(345, 96%, 73%);
	--ck-highlight-marker-yellow: hsl(60, 97%, 73%);
	--ck-highlight-pen-green: hsl(112, 100%, 27%);
	--ck-highlight-pen-red: hsl(0, 85%, 49%);
	--ck-image-style-spacing: 1.5em;
	--ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
	--ck-todo-list-checkmark-size: 16px;
}
.g-text {
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 54) * 1px);
	@include media {
		margin-top: calc(var(--mt, 0) / 768 * 100vw);
		margin-bottom: calc(var(--mb, 54) / 768 * 100vw);
	}
	&.left {
		text-align: left;
	}
	&.center {
		text-align: center;
		table {
			margin: 0 auto;
		}
	}
	&-container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		@include media {
			max-width: vw(678);
		}
	}
	&__content {
		padding: 25px;
		background-color: var(--bg, rgba(#474747, 0.6));
		color: var(--text, #000);
		font-size: 24px;
		word-break: break-all;
		line-height: 1.5;
		position: relative;
		.table {
			display: inline-block;
			float: none !important;
		}
		&:after {
			content: "";
			clear: both;
			display: table;
		}
		@include media {
			font-size: vw(32);
			padding: vw(25);
		}
		a {
			color: var(--link, #000);
		}
		ol,
		ul {
			padding-left: 48px;
			@include media {
				padding-left: vw(64);
			}
		}
		li {
		}
		table {
			border-collapse: collapse;
		}
		table,
		td {
			border: 1px solid var(--text, #000);
		}
		td {
			padding: 4px;
			@include media {
				padding: vw(4);
			}
		}
	}
	img {
		max-width: 100%;
	}
	.image {
		clear: both;
		display: table;
		margin: 0.9em auto;
		min-width: 50px;
		text-align: center;
		@include media {
			margin: vw(0.9em) auto;
		}
		&.image-inline {
			align-items: flex-start;
			display: inline-flex;
			max-width: 100%;
		}
		&.image-style-side {
			float: right;
			margin-left: var(--ck-image-style-spacing);
			max-width: 50%;
		}
	}
}
