.g-text {
	&.align-left {
		text-align: left;
	}
	&.align-center {
		text-align: center;
	}
	&-container {
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
	}
	&__content {
		padding: 25px;
		background-color: rgba(#474747, 0.6);
		color: #fff;
	}
	&.blue {
		.g-text__content {
			background-color: rgba(#474747, 0.6);
			color: #fff;
		}
	}

	.g-modify {
		position: absolute;
		top: 12px;
		right: 12px;
		&-title {
			text-decoration: none;
			color: #000;
		}
	}
}
