.g-top {
	cursor: pointer;
	position: fixed;
	bottom: calc(var(--bottom, 40) * 1px);
	z-index: 9998;
	display: flex;
	justify-content: center;
	align-items: center;
	@include media {
		&[data-observer="true"] {
			@include media {
				bottom: calc(var(--bottom, 40) * 1px);
			}
		}
		bottom: vw(20);
	}
	&[data-align="left"] {
		left: 40px;
		.g-modify {
			left: 100%;
		}
		@include media {
			left: vw(20);
		}
	}
	&[data-align="right"] {
		right: 40px;
		.g-modify {
			right: 100%;
		}
		@include media {
			right: vw(20);
		}
	}
	&[data-type="style"] {
	}
	&__text {
		font-size: 0;
		width: 100px;
		height: 100px;
		background-color: rgba(var(--bg, 212, 212, 212), var(--opacity, 1));
		border-radius: 100vmax;
		box-shadow: 0 0 6px rgba(var(--shadow), 0.2);
		&:before {
			content: "";
			width: 56px;
			height: 48px;
			display: block;
			-webkit-mask-image: url("./img/top.svg");
			mask-image: url("./img/top.svg");
			background-color: rgba(var(--accordion-header-bg-close));
			// background-color: rgba(var(--accordion-header-bg-close), var(--opacity, 1));
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include media {
				width: vw(68);
				height: vw(58);
			}
		}
		@include media {
			width: vw(120);
			height: vw(120);
		}
	}
	&[data-type="img"] {
		max-width: 500px;
		font-size: 0;
		@include media {
			max-width: vw(384);
		}
		img {
			max-width: 100%;
			@include media {
				width: calc(var(--top-mw) / 768 * 100vw);
			}
		}
	}
	.g-modify {
		top: 0;
	}
}
