.g-video {
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 54) * 1px);
	@include media {
		margin-top: calc(var(--mt, 0) / 768 * 100vw);
		margin-bottom: calc(var(--mb, 54) / 768 * 100vw);
	}
	&-container {
		width: 100%;
		max-width: 1000px;
		position: relative;
		margin: 0 auto;
		font-size: 0;
		display: grid;
		grid-column-gap: 10px;
		justify-items: center;
		&[data-num="1"] {
			grid-template-columns: repeat(1, 1fr);
		}
		&[data-num="2"] {
			grid-template-columns: repeat(2, 1fr);
		}
		&[data-num="3"] {
			grid-template-columns: repeat(3, 1fr);
		}
		&[data-num="4"] {
			grid-template-columns: repeat(4, 1fr);
		}
		@include media {
			max-width: 100%;
			width: vw(678);
			grid-column-gap: vw(10);
			grid-template-columns: repeat(1, 1fr) !important;
		}
	}
	&__box {
		display: inline-block;
		width: 100%;
		@include media {
			margin-bottom: vw(20);
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			display: block;
			max-width: 100%;
			position: relative;
		}
	}
}
