.g-video {
	position: relative;
	z-index: 1;
	margin-top: calc(var(--mt, 0) * 1px);
	margin-bottom: calc(var(--mb, 0) * 1px);
	@include media {
		margin-top: calc(var(--mobile_mt, 0) / 768 * 100vw);
		margin-bottom: calc(var(--mobile_mb, 54) / 768 * 100vw);
	}
	&-container {
		width: 100%;
		max-width: 1000px;
		position: relative;
		margin: 0 auto;
		font-size: 0;
		display: grid;
		grid-gap: 12px;
		justify-items: center;
		&[data-num="1"] {
			grid-template-columns: repeat(1, 1fr);
			// height: 750px;
			@include media {
				height: auto;
			}
		}
		&[data-num="2"] {
			grid-template-columns: repeat(2, 1fr);
			.g-yt__box {
				width: 100%;
			}
			// height: 370px;
			@include media {
				height: auto;
			}
		}
		&[data-num="3"] {
			grid-template-columns: repeat(3, 1fr);
			.g-yt__box {
				width: 100%;
			}
			// height: 244px;
			@include media {
				height: auto;
			}
		}
		&[data-num="4"] {
			grid-template-columns: repeat(4, 1fr);
			.g-yt__box {
				width: 100%;
			}
			// height: 180px;
			@include media {
				height: auto;
			}
		}
		@include media {
			max-width: 100%;
			width: vw(678);
			grid-column-gap: vw(10);
			grid-template-columns: repeat(1, 1fr) !important;
		}
	}
	&__box {
		width: 100%;
		max-width: 600px;
		height: 100%;
		display: inline-flex;
		flex-direction: column;
		position: relative;
		text-decoration: none;
		&-pop {
			cursor: pointer;
		}
		&-video {
			width: 100%;
			video {
				width: 100%;
			}
		}
		@include media {
			margin-bottom: vw(20);
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			display: block;
			width: 100%;
			// max-width: 100%;
			position: relative;
		}
		
	}
	&__card {
		background-color: rgba(var(--bg, 255, 255, 255), var(--opacity, 1));
		border-radius: 0 0 10px 10px;
		height: 100%;
		&[data-align="center"] {
			.g-video__card-body {
				text-align: center;
			}
		}
		&[data-align="left"] {
			.g-video__card-body {
				text-align: left;
			}
		}
		&[data-align="right"] {
			.g-video__card-body {
				text-align: right;
			}
		}
		@include media {
			border-radius: 0 0 vw(20) vw(20);
		}
		&-body {
			text-align: left;
			flex: 1;
			display: flex;
			flex-direction: column;
			padding: 18px;
			& + .g-img__card-link {
				border-top: 1px solid rgba(#000, 0.15);
				@include media {
					border-top: vw(2) solid rgba(#000, 0.15);
				}
			}
			@include media {
				padding: vw(30);
			}
		}
		&-title {
			font-weight: bold;
			font-size: 20px;
			text-decoration: none;
			color: rgba(var(--text, 58, 58, 58), 1);
			font-weight: bold;
			word-break: break-all;
			& + .g-img__card-text {
				padding-top: 18px;
				@include media {
					padding-top: vw(18);
				}
			}
			@include media {
				font-size: vw(36);
			}
		}
		&-text {
			font-size: 16px;
			color: rgba(var(--text, 58, 58, 58), 1);
			word-break: break-all;
			// padding-top: 18px;
			// padding-left: 18px;
			// padding-right: 18px;
			// padding-bottom: 18px;
			// & + .g-img__card-link {
			// 	border-top: 1px solid #e5e5e5;
			// }
			@include media {
				font-size: vw(30);
				// padding-left: vw(30);
				// padding-right: vw(30);
				// padding-bottom: vw(30);
				// padding-top: vw(30);
			}
			text-decoration: none;
			word-break: break-all;
			&[href="javascript:;"] {
				cursor: default;
				color: rgba(var(--text, 58, 58, 58), 1);
				pointer-events: none;
			}
			ol,
			ul {
				padding-left: 48px;
				@include media {
					padding-left: vw(64);
				}
			}
			li {
			}
			table {
				border-collapse: collapse;
			}
			table,
			td {
				border: 1px solid rgba(var(--text, 0, 0, 0), 1);
				@include media {
					border-width: vw(1);
				}
			}
			td {
				padding: 4px;
				@include media {
					padding: vw(4);
				}
			}
		}
		&-link {
			text-align: center;
			color: rgba(var(--link, 140, 65, 66), 1);
			font-size: 16px;
			font-weight: bold;
			text-decoration: none;
			width: 100%;
			padding: 18px;
			margin-top: auto;
			box-sizing: border-box;
			word-break: break-all;
			@include media {
				padding: vw(30);
				font-size: vw(30);
				// border-top: vw(2) solid #e5e5e5;
			}
		}
	}
}

.lb-video {
	.g-lightbox__container {
		padding: 0;
		background-color: transparent;
	}
}
