.g-watermark {
	position: fixed;
	z-index: 100;
	&[data-position="left-top"] {
		left: 40px;
		top: 40px;
		@include media {
			left: vw(20);
			top: vw(20);
		}
	}
	&[data-position="right-top"] {
		right: 40px;
		top: 40px;
		.g-modify {
			right: 100%;
		}
		@include media {
			right: vw(20);
			top: vw(20);
		}
	}
	&[data-position="left-middle"] {
		left: 40px;
		top: 50%;
		transform: translateY(-50%);
		@include media {
			left: vw(20);
		}
	}
	&[data-position="right-middle"] {
		right: 40px;
		top: 50%;
		transform: translateY(-50%);
		@include media {
			right: vw(20);
		}
		.g-modify {
			right: 100%;
		}
	}
	&[data-position="left-bottom"] {
		left: 40px;
		bottom: calc(var(--bottom, 40) * 1px);
		&[data-observer="true"] {
			@include media {
				bottom: vw(var(--bottom, 40));
			}
		}
		@include media {
			left: vw(20);
			bottom: vw(20);
		}
	}
	&[data-position="right-bottom"] {
		right: 40px;
		bottom: calc(var(--bottom, 40) * 1px);
		&[data-observer="true"] {
			@include media {
				bottom: vw(var(--bottom, 40));
			}
		}
		@include media {
			right: vw(20);
			bottom: vw(20);
		}
		.g-modify {
			right: 100%;
		}
	}
	&__box {
		width: 100%;
		max-width: 500px;
		display: inline-block;
		position: relative;
		overflow: hidden;
		&.none {
			cursor: default;
		}
		&.edit {
			@include hover {
				.g-img__img {
					opacity: 1;
				}
			}
		}
		@include media {
			display: none;
			&.mobileShow {
				display: block;
			}
			max-width: vw(384);
			margin-bottom: vw(20);
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
			position: relative;
			margin: 0 auto;
			@include media {
				width: vw(var(--watermark-mw));
			}
		}
	}
	&__img {
		position: relative;
		z-index: 1;
		transition: all 0.3s;
		&-box {
			position: relative;
			&.effectImg {
				@include hover {
					.g-watermark__img {
						opacity: 0;
					}
					.g-watermark__effectImg {
						opacity: 1;
					}
				}
			}
		}
	}
	&__effectImg {
		position: absolute !important;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
		opacity: 0;
		transition: all 0.6s;
		max-width: 100%;
		height: 100%;
	}
}
